template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: 'Hacker News Data Pipeline Infrastructure - MiniStack Compatible'

Parameters:
  Environment:
    Type: String
    Default: 'dev'
    Description: 'Environment name'

  AnalyticsEC2InstanceType:
    Type: String
    Default: 't3.micro'
    Description: 'Free Tier eligible instance type (e.g., t3.micro in eu-north-1 or t2.micro in us-east-1). Swap space is configured on startup.'

  AllowedSupersetCidr:
    Type: String
    Default: '0.0.0.0/0'
    Description: 'CIDR allowed to reach the Superset UI on port 8088. Restrict this to your own IP (e.g. 203.0.113.4/32) before deploying to a real AWS account.'

  DBPassword:
    Type: String
    NoEcho: true
    MinLength: 8
    Description: 'Password for the PostgreSQL analytics_user, used by both the EC2-hosted Postgres and the LoadToPostgres Lambda'

  SupersetAdminPassword:
    Type: String
    NoEcho: true
    MinLength: 8
    Description: 'Password for the Superset admin account created on first boot'

  SupersetSecretKey:
    Type: String
    NoEcho: true
    MinLength: 16
    Description: 'SUPERSET_SECRET_KEY used to sign sessions/cookies (any random 16+ char string)'

  LatestAmiId:
    Type: 'AWS::SSM::Parameter::Value<AWS::EC2::Image::Id>'
    Default: '/aws/service/ami-amazon-linux-latest/al2023-ami-kernel-default-x86_64'
    Description: 'Resolved automatically to the latest Amazon Linux 2023 AMI for the region - do not override'

Resources:
  # ==================== VPC & NETWORKING ====================
  DataPipelineVPC:
    Type: 'AWS::EC2::VPC'
    Properties:
      CidrBlock: '10.0.0.0/16'
      EnableDnsHostnames: true
      EnableDnsSupport: true
      Tags:
        - Key: Name
          Value: 'hacker-news-vpc'

  InternetGateway:
    Type: 'AWS::EC2::InternetGateway'
    Properties:
      Tags:
        - Key: Name
          Value: 'hacker-news-igw'

  VPCGatewayAttachment:
    Type: 'AWS::EC2::VPCGatewayAttachment'
    Properties:
      VpcId: !Ref DataPipelineVPC
      InternetGatewayId: !Ref InternetGateway

  PublicSubnet:
    Type: 'AWS::EC2::Subnet'
    Properties:
      VpcId: !Ref DataPipelineVPC
      CidrBlock: '10.0.10.0/24'
      AvailabilityZone: !Select [0, !GetAZs '']
      MapPublicIpOnLaunch: true
      Tags:
        - Key: Name
          Value: 'hacker-news-public-subnet'

  PrivateSubnet:
    Type: 'AWS::EC2::Subnet'
    Properties:
      VpcId: !Ref DataPipelineVPC
      CidrBlock: '10.0.1.0/24'
      AvailabilityZone: !Select [0, !GetAZs '']
      Tags:
        - Key: Name
          Value: 'hacker-news-private-subnet'

  NatGatewayEIP:
    Type: 'AWS::EC2::EIP'
    DependsOn: VPCGatewayAttachment
    Properties:
      Domain: vpc

  NatGateway:
    Type: 'AWS::EC2::NatGateway'
    Properties:
      AllocationId: !GetAtt NatGatewayEIP.AllocationId
      SubnetId: !Ref PublicSubnet
      Tags:
        - Key: Name
          Value: 'hacker-news-nat-gw'

  # ==================== ROUTES & ROUTE TABLES ====================
  PublicRouteTable:
    Type: 'AWS::EC2::RouteTable'
    Properties:
      VpcId: !Ref DataPipelineVPC
      Tags:
        - Key: Name
          Value: 'hacker-news-public-rt'

  PublicRoute:
    Type: 'AWS::EC2::Route'
    DependsOn: VPCGatewayAttachment
    Properties:
      RouteTableId: !Ref PublicRouteTable
      DestinationCidrBlock: '0.0.0.0/0'
      GatewayId: !Ref InternetGateway

  PublicSubnetRouteTableAssociation:
    Type: 'AWS::EC2::SubnetRouteTableAssociation'
    Properties:
      SubnetId: !Ref PublicSubnet
      RouteTableId: !Ref PublicRouteTable

  PrivateRouteTable:
    Type: 'AWS::EC2::RouteTable'
    Properties:
      VpcId: !Ref DataPipelineVPC
      Tags:
        - Key: Name
          Value: 'hacker-news-private-rt'

  PrivateRoute:
    Type: 'AWS::EC2::Route'
    Properties:
      RouteTableId: !Ref PrivateRouteTable
      DestinationCidrBlock: '0.0.0.0/0'
      NatGatewayId: !Ref NatGateway

  PrivateSubnetRouteTableAssociation:
    Type: 'AWS::EC2::SubnetRouteTableAssociation'
    Properties:
      SubnetId: !Ref PrivateSubnet
      RouteTableId: !Ref PrivateRouteTable

  # ==================== SECURITY GROUPS ====================
  LambdaSecurityGroup:
    Type: 'AWS::EC2::SecurityGroup'
    Properties:
      GroupDescription: 'Security group for Hacker News Lambda functions'
      VpcId: !Ref DataPipelineVPC
      SecurityGroupEgress:
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: '0.0.0.0/0'
          Description: 'Allows strictly outbound HTTPS traffic for third-party APIs and S3 communications'
      Tags:
        - Key: Name
          Value: 'hacker-news-lambda-sg'

  AnalyticsEC2SecurityGroup:
    Type: 'AWS::EC2::SecurityGroup'
    Properties:
      GroupDescription: 'Security group for the PostgreSQL + Superset analytics EC2 instance'
      VpcId: !Ref DataPipelineVPC
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 8088
          ToPort: 8088
          CidrIp: !Ref AllowedSupersetCidr
          Description: 'Superset web UI'
        - IpProtocol: tcp
          FromPort: 5432
          ToPort: 5432
          SourceSecurityGroupId: !Ref LambdaSecurityGroup
          Description: 'PostgreSQL access restricted to the pipeline Lambda functions'
      SecurityGroupEgress:
        - IpProtocol: '-1'
          CidrIp: '0.0.0.0/0'
          Description: 'Allow outbound for docker image pulls and package installs'
      Tags:
        - Key: Name
          Value: 'analytics-postgres-superset-sg'

  LambdaToPostgresEgress:
    Type: 'AWS::EC2::SecurityGroupEgress'
    Properties:
      GroupId: !Ref LambdaSecurityGroup
      IpProtocol: tcp
      FromPort: 5432
      ToPort: 5432
      DestinationSecurityGroupId: !Ref AnalyticsEC2SecurityGroup
      Description: 'Allow LoadToPostgres Lambda to reach the analytics EC2 instance'

  # IAM Role for Step Functions Execution
  StateMachineExecutionRole:
    Type: 'AWS::IAM::Role'
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: !Sub 'states.${AWS::Region}.amazonaws.com'
            Action: 'sts:AssumeRole'
      RoleName: !Sub 'sfn-execution-role-${Environment}'
      Policies:
        - PolicyName: StateMachineLambdaInvokePolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - 'lambda:InvokeFunction'
                Resource:
                  - !GetAtt HackerNewsIngestFunction.Arn
                  - !GetAtt TwitterIngestFunction.Arn
                  - !GetAtt TransformFunction.Arn
                  - !GetAtt AggregateFunction.Arn
                  - !GetAtt LoadToPostgresFunction.Arn
                  - !GetAtt NotificationFunction.Arn

  # The Step Functions State Machine
  MedallionPipelineStateMachine:
    Type: 'AWS::StepFunctions::StateMachine'
    Properties:
      StateMachineName: !Sub 'medallion-pipeline-orchestrator-${Environment}'
      RoleArn: !GetAtt StateMachineExecutionRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "Medallion Architecture Data Pipeline Orchestrator",
          "StartAt": "Parallel_Ingestion",
          "States": {
            "Parallel_Ingestion": {
              "Type": "Parallel",
              "Next": "TransformToSilver",
              "ResultPath": "$.IngestResults",
              "Branches": [
                {
                  "StartAt": "IngestHackerNews",
                  "States": {
                    "IngestHackerNews": {
                      "Type": "Task",
                      "Resource": "${HackerNewsIngestFunction.Arn}",
                      "Catch": [{
                        "ErrorEquals": ["States.ALL"],
                        "Next": "NotifyFailure"
                      }],
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "IngestTwitter",
                  "States": {
                    "IngestTwitter": {
                      "Type": "Task",
                      "Resource": "${TwitterIngestFunction.Arn}",
                      "Catch": [{
                        "ErrorEquals": ["States.ALL"],
                        "Next": "NotifyFailure"
                      }],
                      "End": true
                    }
                  }
                }
              ]
            },
            "TransformToSilver": {
              "Type": "Task",
              "Resource": "${TransformFunction.Arn}",
              "Parameters": {
                "HNFileKey.$": "$.IngestResults[0].body.file_key",
                "TwitterFileKey.$": "$.IngestResults[1].body.file_key"
              },
              "ResultPath": "$.TransformResult",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "Next": "NotifyFailure"
              }],
              "Next": "AggregateToGold"
            },
            "AggregateToGold": {
              "Type": "Task",
              "Resource": "${AggregateFunction.Arn}",
              "Parameters": {
                "SilverFileKey.$": "$.TransformResult.body.file_key"
              },
              "ResultPath": "$.AggregateResult",
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "Next": "NotifyFailure"
              }],
              "Next": "LoadToPostgres"
            },
            "LoadToPostgres": {
              "Type": "Task",
              "Resource": "${LoadToPostgresFunction.Arn}",
              "Parameters": {
                "ReportKey.$": "$.AggregateResult.body.gold_json_report"
              },
              "Catch": [{
                "ErrorEquals": ["States.ALL"],
                "Next": "NotifyFailure"
              }],
              "End": true
            },
            "NotifyFailure": {
              "Type": "Task",
              "Resource": "${NotificationFunction.Arn}",
              "End": true
            }
          }
        }

  # ==================== S3 BUCKETS ====================
  BronzeLayerBucket:
    Type: 'AWS::S3::Bucket'
    Properties:
      BucketName: !Sub 'bronze-layer-${AWS::AccountId}-${Environment}'
      VersioningConfiguration:
        Status: Enabled
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      Tags:
        - Key: Layer
          Value: 'Bronze'

  SilverLayerBucket:
    Type: 'AWS::S3::Bucket'
    Properties:
      BucketName: !Sub 'silver-layer-${AWS::AccountId}-${Environment}'
      VersioningConfiguration:
        Status: Enabled
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      Tags:
        - Key: Layer
          Value: 'Silver'

  GoldLayerBucket:
    Type: 'AWS::S3::Bucket'
    Properties:
      BucketName: !Sub 'gold-layer-${AWS::AccountId}-${Environment}'
      VersioningConfiguration:
        Status: Enabled
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      Tags:
        - Key: Layer
          Value: 'Gold'

  # ==================== IAM ROLES & POLICIES ====================
  IngestLambdaExecutionRole:
    Type: 'AWS::IAM::Role'
    Properties:
      RoleName: 'IngestLambdaExecutionRole'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: 'lambda.amazonaws.com'
            Action: 'sts:AssumeRole'
      ManagedPolicyArns:
        - 'arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole'
      Policies:
        - PolicyName: 'IngestBronzeWritePolicy'
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - 's3:PutObject'
                Resource:
                  - !Sub '${BronzeLayerBucket.Arn}/*'

  TransformLambdaExecutionRole:
    Type: 'AWS::IAM::Role'
    Properties:
      RoleName: 'TransformLambdaExecutionRole'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: 'lambda.amazonaws.com'
            Action: 'sts:AssumeRole'
      ManagedPolicyArns:
        - 'arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole'
      Policies:
        - PolicyName: 'TransformBronzeToSilverPolicy'
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - 's3:GetObject'
                  - 's3:ListBucket'
                Resource:
                  - !GetAtt BronzeLayerBucket.Arn
                  - !Sub '${BronzeLayerBucket.Arn}/*'
              - Effect: Allow
                Action:
                  - 's3:GetObject'
                  - 's3:PutObject'
                  - 's3:DeleteObject'
                  - 's3:ListBucket'
                Resource:
                  - !GetAtt SilverLayerBucket.Arn
                  - !Sub '${SilverLayerBucket.Arn}/*'

  AggregateLambdaExecutionRole:
    Type: 'AWS::IAM::Role'
    Properties:
      RoleName: 'AggregateLambdaExecutionRole'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: 'lambda.amazonaws.com'
            Action: 'sts:AssumeRole'
      ManagedPolicyArns:
        - 'arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole'
      Policies:
        - PolicyName: 'AggregateSilverToGoldPolicy'
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - 's3:GetObject'
                  - 's3:ListBucket'
                Resource:
                  - !GetAtt SilverLayerBucket.Arn
                  - !Sub '${SilverLayerBucket.Arn}/*'
              - Effect: Allow
                Action:
                  - 's3:GetObject'
                  - 's3:PutObject'
                  - 's3:DeleteObject'
                  - 's3:ListBucket'
                Resource:
                  - !GetAtt GoldLayerBucket.Arn
                  - !Sub '${GoldLayerBucket.Arn}/*'

  LoadToPostgresLambdaExecutionRole:
    Type: 'AWS::IAM::Role'
    Properties:
      RoleName: 'LoadToPostgresLambdaExecutionRole'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: 'lambda.amazonaws.com'
            Action: 'sts:AssumeRole'
      ManagedPolicyArns:
        - 'arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole'
      Policies:
        - PolicyName: 'LoadToPostgresGoldReadPolicy'
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - 's3:GetObject'
                  - 's3:ListBucket'
                Resource:
                  - !GetAtt GoldLayerBucket.Arn
                  - !Sub '${GoldLayerBucket.Arn}/*'

  # ==================== EC2 ANALYTICS HOST ====================
  AnalyticsEC2Role:
    Type: 'AWS::IAM::Role'
    Properties:
      RoleName: !Sub 'analytics-ec2-role-${Environment}'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: 'ec2.amazonaws.com'
            Action: 'sts:AssumeRole'
      ManagedPolicyArns:
        - 'arn:aws:iam::aws:policy/AmazonSSMManagedInstanceCore'

  AnalyticsEC2InstanceProfile:
    Type: 'AWS::IAM::InstanceProfile'
    Properties:
      Roles:
        - !Ref AnalyticsEC2Role

  AnalyticsEC2Instance:
    Type: 'AWS::EC2::Instance'
    Properties:
      InstanceType: !Ref AnalyticsEC2InstanceType
      ImageId: !Ref LatestAmiId
      SubnetId: !Ref PublicSubnet
      IamInstanceProfile: !Ref AnalyticsEC2InstanceProfile
      SecurityGroupIds:
        - !Ref AnalyticsEC2SecurityGroup
      Tags:
        - Key: Name
          Value: 'analytics-postgres-superset'
      UserData:
        Fn::Base64: !Sub |
          #!/bin/bash
          set -eux
          
          # 1. Kreiranje 4GB Swap fajla (Ključno za stabilan rad Docker-a i Superseta na 1GB RAM-a)
          dd if=/dev/zero of=/swapfile bs=1M count=4096
          chmod 600 /swapfile
          mkswap /swapfile
          swapon /swapfile
          echo "/swapfile none swap sw 0 0" >> /etc/fstab

          # 2. Instalacija Docker-a i konfigurisanje servisa
          dnf update -y
          dnf install -y docker
          systemctl enable docker
          systemctl start docker
          usermod -a -G docker ec2-user

          # 3. Instalacija Docker Compose-a
          curl -SL "https://github.com/docker/compose/releases/download/v2.29.2/docker-compose-linux-x86_64" -o /usr/local/bin/docker-compose
          chmod +x /usr/local/bin/docker-compose

          # 4. Generisanje lokalnog docker-compose.yml za PostgreSQL i Apache Superset
          mkdir -p /opt/analytics
          cat > /opt/analytics/docker-compose.yml << 'COMPOSE_EOF'
          version: '3.8'
          services:
            postgres:
              image: postgres:15
              restart: always
              environment:
                POSTGRES_USER: analytics_user
                POSTGRES_PASSWORD: "${DBPassword}"
                POSTGRES_DB: gold_analytics
              ports:
                - "5432:5432"
              volumes:
                - pgdata:/var/lib/postgresql/data

            superset:
              image: apache/superset:latest
              restart: always
              depends_on:
                - postgres
              ports:
                - "8088:8088"
              environment:
                SUPERSET_SECRET_KEY: "${SupersetSecretKey}"
              command: >
                pip install --target=/app/.venv/lib/python3.10/site-packages psycopg2-binary &&
                superset db upgrade &&
                (superset fab create-admin --username admin --firstname Admin --lastname User --email admin@example.com --password '${SupersetAdminPassword}' || true) &&
                superset init &&
                /usr/bin/run-server.sh"

          volumes:
            pgdata:
          COMPOSE_EOF

          cd /opt/analytics
          /usr/local/bin/docker-compose up -d

  # ==================== LAMBDA FUNCTIONS ====================
  HackerNewsIngestFunction:
    Type: 'AWS::Lambda::Function'
    Properties:
      FunctionName: 'HackerNewsIngestFunction'
      Handler: 'hackerNewsIngest.lambda_handler'
      Role: !GetAtt IngestLambdaExecutionRole.Arn
      Runtime: 'python3.11'
      Timeout: 300
      MemorySize: 512
      Code:
        S3Bucket: 'lambda-code-bucket-174435304073'
        S3Key: 'hackerNewsIngest.zip'
      Environment:
        Variables:
          BRONZE_BUCKET_NAME: !Ref BronzeLayerBucket
      VpcConfig:
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
        SubnetIds:
          - !Ref PrivateSubnet
      Tags:
        - Key: Layer
          Value: 'Bronze'

  TwitterIngestFunction:
    Type: 'AWS::Lambda::Function'
    Properties:
      FunctionName: 'TwitterIngestFunction'
      Handler: 'twitterIngest.lambda_handler'
      Role: !GetAtt IngestLambdaExecutionRole.Arn
      Runtime: 'python3.11'
      Timeout: 300
      MemorySize: 512
      Code:
        S3Bucket: 'lambda-code-bucket-174435304073'
        S3Key: 'twitterIngest.zip'
      Environment:
        Variables:
          BRONZE_BUCKET_NAME: !Ref BronzeLayerBucket
      VpcConfig:
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
        SubnetIds:
          - !Ref PrivateSubnet

  TransformFunction:
    Type: 'AWS::Lambda::Function'
    Properties:
      FunctionName: 'TransformFunction'
      Handler: 'transform.lambda_handler'
      Role: !GetAtt TransformLambdaExecutionRole.Arn
      Runtime: 'python3.11'
      Timeout: 300
      MemorySize: 512
      Layers:
        - 'arn:aws:lambda:eu-north-1:336392948345:layer:AWSSDKPandas-Python311:12'
      Code:
        S3Bucket: 'lambda-code-bucket-174435304073'
        S3Key: 'transform.zip'
      Environment:
        Variables:
          BRONZE_BUCKET_NAME: !Ref BronzeLayerBucket
          SILVER_BUCKET_NAME: !Ref SilverLayerBucket
      VpcConfig:
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
        SubnetIds:
          - !Ref PrivateSubnet
      Tags:
        - Key: Layer
          Value: 'Silver'

  AggregateFunction:
    Type: 'AWS::Lambda::Function'
    Properties:
      FunctionName: 'AggregateFunction'
      Handler: 'aggregate.lambda_handler'
      Role: !GetAtt AggregateLambdaExecutionRole.Arn
      Runtime: 'python3.11'
      Timeout: 300
      MemorySize: 512
      Layers:
        - 'arn:aws:lambda:eu-north-1:336392948345:layer:AWSSDKPandas-Python311:12'
      Code:
        S3Bucket: 'lambda-code-bucket-174435304073'
        S3Key: 'aggregate.zip'
      Environment:
        Variables:
          SILVER_BUCKET_NAME: !Ref SilverLayerBucket
          GOLD_BUCKET_NAME: !Ref GoldLayerBucket
      VpcConfig:
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
        SubnetIds:
          - !Ref PrivateSubnet
      Tags:
        - Key: Layer
          Value: 'Gold'

  LoadToPostgresFunction:
    Type: 'AWS::Lambda::Function'
    DependsOn: AnalyticsEC2Instance
    Properties:
      FunctionName: 'LoadToPostgresFunction'
      Handler: 'loadToPostgres.lambda_handler'
      Role: !GetAtt LoadToPostgresLambdaExecutionRole.Arn
      Runtime: 'python3.11'
      Timeout: 120
      MemorySize: 512
      Layers:
        - 'arn:aws:lambda:eu-north-1:336392948345:layer:AWSSDKPandas-Python311:12'
      Code:
        S3Bucket: 'lambda-code-bucket-174435304073'
        S3Key: 'loadToPostgres.zip'
      Environment:
        Variables:
          GOLD_BUCKET_NAME: !Ref GoldLayerBucket
          DB_HOST: !GetAtt AnalyticsEC2Instance.PrivateIp
          DB_PORT: '5432'
          DB_NAME: 'gold_analytics'
          DB_USER: 'analytics_user'
          DB_PASSWORD: !Ref DBPassword
      VpcConfig:
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
        SubnetIds:
          - !Ref PrivateSubnet
      Tags:
        - Key: Layer
          Value: 'Gold'
  
  NotificationFunction:
    Type: 'AWS::Lambda::Function'
    Properties:
      FunctionName: !Sub 'NotificationFunction-${Environment}'
      Handler: notification.lambda_handler
      Role: !GetAtt LoadToPostgresLambdaExecutionRole.Arn 
      Runtime: 'python3.11'
      Timeout: 60
      MemorySize: 256
      Code:
        S3Bucket: 'lambda-code-bucket-174435304073' 
        S3Key: 'notification.zip'
      Environment:
        Variables:
          DISCORD_WEBHOOK_URL: 'https://discord.com/api/webhooks/1522266587002966136/05LwXZG3wZZHTwabYWaLjWlizxa1aCt-g6N9lJW59Np2Us3Wu_iQ4vzl0HDHxjpPsPsZ' 
      VpcConfig:
        SecurityGroupIds:
          - !Ref LambdaSecurityGroup
        SubnetIds:
          - !Ref PrivateSubnet
      Tags:
        - Key: Layer
          Value: 'Monitoring'

# ==================== OUTPUTS ====================
Outputs:
  VPCId:
    Description: 'VPC ID for the data pipeline'
    Value: !Ref DataPipelineVPC
    Export:
      Name: !Sub '${AWS::StackName}-VPC-ID'

  PrivateSubnetId:
    Description: 'Private subnet for Lambda functions'
    Value: !Ref PrivateSubnet
    Export:
      Name: !Sub '${AWS::StackName}-PrivateSubnet-ID'

  LambdaSecurityGroupId:
    Description: 'Security group ID for Lambda functions'
    Value: !Ref LambdaSecurityGroup
    Export:
      Name: !Sub '${AWS::StackName}-LambdaSG-ID'

  BronzeBucketArn:
    Description: 'ARN of Bronze Layer bucket'
    Value: !GetAtt BronzeLayerBucket.Arn
    Export:
      Name: !Sub '${AWS::StackName}-BronzeBucket'

  SilverBucketArn:
    Description: 'ARN of Silver Layer bucket'
    Value: !GetAtt SilverLayerBucket.Arn
    Export:
      Name: !Sub '${AWS::StackName}-SilverBucket'

  GoldBucketArn:
    Description: 'ARN of Gold Layer bucket'
    Value: !GetAtt GoldLayerBucket.Arn
    Export:
      Name: !Sub '${AWS::StackName}-GoldBucket'

  SupersetURL:
    Description: 'Apache Superset UI (allow a few minutes after stack creation for docker-compose to finish pulling images)'
    Value: !Sub 'http://${AnalyticsEC2Instance.PublicIp}:8088'

  AnalyticsPostgresPrivateIp:
    Description: 'Private IP of the PostgreSQL host, used by LoadToPostgresFunction'
    Value: !GetAtt AnalyticsEC2Instance.PrivateIp